.Rproj.user
.Rhistory
.RData
.Ruserdata
BRIEF-analyses.Rmd
.DS_Store
BRIEF_supp_table1.html
BRIEF_supp_table2.html
BRIEF_supp_table3.html
BRIEF_supp_table4.html
BRIEF_supp_table5.html
BRIEF_supp_table6.html
SLAM_BRIEF_analyses.Rproj
Table4.html
